
/* Var */
:root {
    --tittles: #1b3b6f;
    --text: #323232;
    --background: #fffbf5;
}

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* General Styles */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

.container-main {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* header styles */

.header {
    width: 100%;
    height: 4.5rem;
    background-color: #fffbf56e;
    padding: .5rem 2rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.navbar {
    padding: 0 !important; 
}


.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-collapse {
  justify-content: start;
}

.navbar-toggler {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 6;
}


.header__nav{
    display: flex;
    justify-content: space-between;
}

.nav__navbar {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   gap: 2rem;
   padding: .5rem;
   padding-inline: 4rem;
}

.nav__navbar a {
  text-decoration: none; 
  border: none; 
}

.navbar__text a {
    position: relative;
    color: #fffbf5; 
    font-weight: 600;
    font-size: 16px;
}

.custom-toggler {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--tittles);
}

/* hero section styles */

.container__hero, .information, .important {
    position: relative;
    min-height: 100vh;
    
}

.hero__text{
    display: flex;
    flex-direction: column;
    width: 63%;
    margin: auto;
    min-height: 100vh;
    color: #fffbf5;
    align-items: center;
    position: relative;
    z-index: 2;
    gap: 2rem;
}

.hero__text h1 {
    font-size: 45px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.hero__text h2{ 
    display: flex;
    font-family: "Michroma", sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 120px;
    padding: 10px;
}

.hero__text a{
    display: flex;
    flex-direction: column;
    color: #fffbf5;
    margin-top: auto;
    margin-bottom: 2rem;
    text-decoration: none; 
    border: none; 
    
}

.hero__text span {
    display: flex;
    margin: auto;
    font-weight: 100;
    transform: scaleX(2);
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffbf5; 
    opacity: 0.5;
    mix-blend-mode: overlay;
}

/* informacion section */
.information {
    scroll-margin-top: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding: 2rem;
}

.information__tittle, .important__tittle, .womens__tittle {
    position: relative;
    font-size: 45px;
    color: var(--tittles);
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.information__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.information__img {
    width: 90%;
    height: auto;

}

.img__credic {
    font-size: 12px;
    color: var(--text);
}

.information__text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin-top: 1rem;
}

.information__btn {
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: center;
    background-color: var(--background);
    color: var(--tittles);
    text-decoration: none;
    border: 2px solid var(--tittles);
    margin-top: auto;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

/* important section */
.important {
    scroll-margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.important__tittle {
    display: flex;
    justify-content: center;
}

.important__percentage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    margin-top: 7rem;
}

.percentage__number {
    font-size: 86px;
    color: var(--tittles);
    text-align: center;
}

.percentage__description {
    font-size: 16px;
    color: var(--text);
    text-align: center;
}

/* womens and woman section */
.womens { 
    scroll-margin-top: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 45px;
    padding: 2rem;
}

.womens__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.womens__card{
    border: #1b3b6f 2px solid;
}

.womens-card__img, .woman-card__img{
    width: 100%;
    height: 250px; 
    object-fit: cover;
}

.womens-card__role, .woman-card__role {
    color: var(--text);
    font-size: 18px;
    padding: .5rem;
    font-weight: 400;
    box-shadow: 0px 2px 2px  rgba(0, 0, 0, 0.103) ;
}

.womens-card__name, .woman-card__name {
    color: var(--text);
    font-size: 24px;
    padding: .5rem;
    font-weight: 600;
    
}

.womens-card__country, .woman-card__country {
    color: var(--text);
    font-size: 15px;
    font-weight: 400;
    margin-left: .5rem;
    margin-bottom: .8rem;
}

.womens-card__btn {
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: center;
    background-color: var(--background);
    color: var(--tittles);
    text-decoration: none;
    border: 2px solid var(--tittles);
    margin-top: .8rem;
    margin-bottom: 1.5rem;
    margin-left: 25%;
    text-transform: uppercase;
}

/* woman section */
.woman__content {
    position: relative;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem;
    gap: 2rem;
    align-items: center;
    border-radius: 10px;
    max-width: 900px;
    width: 90%;
    background-color: var(--background);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.103);
    border: 2px solid var(--tittles);
}

/* modal woman */

.woman {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    overflow-y: auto;
}

.close-1, .close-2, .close-3 {
    position: absolute;
  top: 0.3rem;
  right: 0.4rem;
  font-size: 3rem;
  color: #1b3b6f;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  line-height: 1;
}


.woman__text{
    text-align: center;
}

.woman__card {
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 450px;
    margin: auto;
    flex-direction: column;
    overflow: hidden;
    border: #1b3b6f 2px solid;
    margin: auto;
    padding: 0;
}

.woman-card__img{
    object-position: top center;
}

.modal-dialog {
    margin: 0 auto;
}

.modal-xl {
  max-width: 900px;
  width: 100%;
}

.modal.show {
  display: flex !important;
  justify-content: center;
}

/* connect section */
.connect {
    scroll-margin-top: 25px;
    background-color: #1b3b6f;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 2rem;
}

.connect__tittle {
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.connect__tittle h2 {
    color: #fffbf5;
    font-size: 45px;
    font-weight: 500;
}

.connect__cards { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}

.connect__card--only {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--background);
}

.cards__img img {
    width: 100%;
    margin-bottom: 0;
}

.cards__text--information{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1px;
}

.cards__text--information h3{
    margin: 0 0 0.5rem 0;
    font-size: 22px;
    padding: 1rem;
}

.cards__text--information p {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 .5rem;
    flex-grow: 1;
    margin: 0;

}

.cards__link {
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: center;
    background-color: var(--background);
    color: var(--tittles);
    text-decoration: none;
    border: 2px solid var(--tittles);
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    margin-left: 25%;
    text-transform: uppercase;
}

/* footer section */
.footer {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1b3b6f;
    min-height: 100px;
    padding: 20px 50px;
}

.socialMedia__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap ;
    gap: 1rem;
}

.icon {
    color: #fffbf5;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
}

.footer p {
    color: #fffbf5;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

/* header efects */

.navbar__text a:hover {
 color: var(--tittles);
 transition: color 0.5s ease-in-out;
}

.navbar__text a:hover::after {
    width: 100%;
}

.nav__navbar a::after{
    content: " ";
    position: absolute;
    width: 0;
    bottom: -4px;
    left: 0;
    background-color: var(--tittles);
    height: 1px;
    transition: 0.5s ease;
}

/* Todos con un moviento hacía arriba suave al entrar a la página */
.hero__text, .information__content, .important, .womens {
    animation-name: moveUp;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes moveUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

a.hero__btn--scroll {
    animation-name: bounce;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hero__btn--scroll:hover{
    font-weight: 500;
}

/* information section effects */

.information__tittle:hover {
    color: var(--text);
    transition: color 0.5s ease-in-out;
}

.information__btn:hover {
    background-color: var(--tittles);
    color: var(--background);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.information__tittle:hover::after {
    width: 45%;
}

.information__tittle::after{
    content: " ";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--tittles);
    height: 1px;
    transition: 0.5s ease;
}

.information__img:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
}

/* important effect */
.important__tittle:hover {
    color: var(--text);
    transition: color 0.5s ease-in-out;
}

.percentage__number:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* womens and woman effects */

.womens__tittle:hover {
    color: var(--text);
    transition: color 0.5s ease-in-out;
}

.womens__card:hover {
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform 0.5s ease-in-out;

}

.womens-card__name:hover{ 
    color: var(--tittles);
}

.womens-card__btn:hover {
    background-color: var(--tittles);
    color: var(--background);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.woman__title:hover {
    color: var(--text);
    transition: color 0.5s ease-in-out;
}

.woman__card:hover {
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform 0.5s ease-in-out;

}

.woman-card__name:hover{ 
    color: var(--tittles);
}

.close-1:hover, .close-2:hover, .close-3:hover {
    color: #1b3b6f ;
    transition: color 0.3s ease-in-out;
    transform: scale(1.2);
    transition: transform  0.3s ease-in-out;
}

.woman__content {
    animation: fadeIn 0.5s ease-in-out;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* connect effects */

.connect__card--only:hover{
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform 0.5s ease-in-out;

}

.cards__link:hover {

    background-color: var(--tittles);
    color: var(--background);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}


/* footer effects */

.icon:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
}

/* .scrolled */
header.scrolled .text {
    color: var(--tittles);
    transition: color 0.3s ease-in-out;
}

header.scrolled {
    background-color: var(--background);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* medias queris */

/* nav section */

@media (max-width: 540px) {
  .nav__navbar {
    padding-inline: 1rem;
  }
}

/* hero section */
@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 4.5rem; 
    left: 0;
    width: 100%;
    background-color: rgba(255, 251, 245, 0.90); 
    z-index: 5;
    padding: 1rem 2rem;
  }

  .nav__navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-inline: 0;
  }

  .navbar__text a {
    color: var(--tittles); 
    font-size: 18px;
  }

  .custom-toggler {
    z-index: 6;
  }
}

@media (max-width: 768px) {
  .hero__text {
    width: 90%;
    min-height: auto;
    padding-top: 100px;
    gap: 1.2rem;
  }

  .hero__text h1 {
    font-size: 28px;
  }

  .hero__text h2 {
    font-size: 14px;
    margin-top: 40px;
  }

  .hero__btn--scroll {
    font-size: 14px;
    align-items: center;
    text-align: center;
  }

  .hero__text a {
    margin-top: 6rem;
  }

  .hero__text span {
    transform: scaleX(1.4);
    font-size: 16px;
  }
}

/* important, information section */
@media (max-width: 992px) {
  .information__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .information__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .important__percentage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .important__percentage {
    grid-template-columns: 1fr;
  }
}


/* .womens section */
@media (max-width: 992px) {
  .womens__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .womens__grid {
    grid-template-columns: 1fr;
  }
}

/* woman section */
@media (max-width: 480px) {
  .woman {
    align-items: flex-start;
    padding-top: 2rem;
  }

  .modal-dialog {
    margin: 0 auto;
    width: 100%;
  }

  .modal-content.woman__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 95vw;
    margin-top: 2rem;
    border-radius: 10px;
    position: relative;
  }

  .woman__card {
    order: -1; 
    max-width: 100%;
    width: 100%;
  }

  .woman-card__img {
    width: 100%;
    height: auto;
  }

  .woman__text {
    text-align: center;
  }

  .woman__text p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .close-1,
  .close-2,
  .close-3 {
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    z-index: 20;
    font-size: 2rem;
    background: transparent;
    border: none;
  }
}

/* conecta section  */

@media (max-width: 992px) {
  .connect__cards {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 576px) {
  .connect__cards {
    grid-template-columns: 1fr;
  }

  .cards__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .connect__card--only {
    grid-template-rows: auto auto;
  }
}

